<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>用户管理</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/plugins/adminLTE/css/AdminLTE.css"/>
    <link rel="stylesheet" href="/static/plugins/adminLTE/css/skins/_all-skins.min.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <script src="/static/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/plugins/angularjs/angular.min.js"></script>
    <script src="/static/js/pages/pageHelper.js"></script>
    <!-- 分页模块开始 -->
    <link rel="stylesheet" href="/static/plugins/angularjs/pagination.css"/>
    <script src="/static/plugins/angularjs/pagination.js"></script>

    <!-- 分页模块结束 -->
    <script type="text/javascript">

        // 定义模块
        var app = angular.module('pinyougou', []);
        // 模块中添加控制器
        app.controller("brandController", function ($scope, $http) {

            // 查询全部品牌
            $scope.findAll = function () {
                // 发送异步请求
                $http.get("/findAll").then(function(response){
                    // alert(response.data)
                    // 获取响应数据
                    $scope.brandList = response.data.data;

                });
            };

            // 分页指令需要的配置信息对象 {}
            $scope.paginationConf = {
                currentPage : 1, // 当前页码
                perPageOptions : [10,20,30,40], // 下拉列表页码框
                totalItems : 0, // 总记录数
                itemsPerPage : 10, // 每页显示的记录数
                onChange : function(){ // 当页码发生改变需要调用的函数
                    // 发送异步请求
                    $scope.reload();
                }
            };

            // 重新加载数据
            $scope.reload = function(){
                $scope.search($scope.paginationConf.currentPage,
                    $scope.paginationConf.itemsPerPage);
            };

            // 定义封装查询条件的对象


            // 分页查询品牌
            $scope.search = function(){
                // 发送异步请求
                $scope.brandList={};
                $http({
                    method : 'get', // 请求方式
                    url : "/findOne?id="+$scope.userId, // 请求URL
                }).then(function(response){
                    // 获取响应数据 {'rows' : [{},{}], 'total' : 100}
                   // $scope.brandList = response.data;
                   //  console.log(response.data.data)
                    var a = []
                    a.push(response.data.data)
                    // console.log(a)
                    $scope.brandList = a

                });
            };

            // 添加或修改品牌
            $scope.saveOrUpdate = function(){
                var url = "/save"; // 添加
                if ($scope.entity.id){
                    url = "update"; // 修改
                }
                // 发送异步请求
                $http.post(url, $scope.entity).then(function(response){
                    if (response.data){
                        alert("操作成功！");
                        // 重新加载数据
                        $scope.reload();
                    }else{
                        alert("操作失败！")
                    }
                });
            };
            $scope.user={};
            // 添加或修改品牌
            $scope.saveOrUpdate1 = function(){
                var url = "/save"; // 添加
                // 发送异步请求
                $http.post(url, $scope.user).then(function(response){
                    if (response.data){
                        alert("操作成功！");
                        // 重新加载数据
                        $scope.reload();
                    }else{
                        alert("操作失败！")
                    }
                });
            };
            // 修改按钮点击事件
            $scope.show = function(entity){
                // 把entity转化成一个新的json对象
                // 把json对象转化成json字符串
                var jsonStr = JSON.stringify(entity);
                // 把jsonStr转化成json对象
                $scope.entity = JSON.parse(jsonStr);
            };

            // 定义数组封装用户需要删除的id
            $scope.ids = [];

            // 为checkbox绑定点击事件
            $scope.updateSelection = function($event, id){
                // 判断checkbox是否选中 dom
                // $event.target: dom
                if ($event.target.checked){ // 选中
                    // 往数组中添加元素
                    $scope.ids.push(id);
                }else { // 没有选中
                    // 得到该元素在数组中的索引号
                    var idx = $scope.ids.indexOf(id);
                    // 删除数组元素
                    $scope.ids.splice(idx, 1);
                }
                // 让全选是否选中
                $scope.ckAll = $scope.brandList.length == $scope.ids.length;
            };

            // 为全选绑定点击事件
            $scope.checkAll = function($event){
                $scope.ck = $event.target.checked;
                // 清空
                $scope.ids = [];
                if ($scope.ck){

                    // 全部的id
                    for (var i = 0; i < $scope.brandList.length; i++){
                        // {id}
                        $scope.ids.push($scope.brandList[i].id);
                    }
                }
            };

            // 批量删除
            $scope.delete = function(){
                if ($scope.ids.length > 0){
                    alert($scope.ids)
                    // 发送异步请求
                    $http.get("/delete?ids=" + $scope.ids).then(function(response){
                        // alert(response)
                        if (response.data){
                            alert(response.data)
                            // 重新加载数据
                            $scope.reload();
                            // 清空数组
                            $scope.ids = [];
                        }else{
                            alert("删除失败！");
                        }
                    });

                }else{
                    alert("请选择要删除的用户！");
                }
            };

        });

        var arr = [10,20,30,40];
        // 获取数组元素在数组中的索引号
        var i = arr.indexOf(30);
        // 第一个参数: 索引号
        // 第二个参数：删除的个数
        arr.splice(i,1);

    </script>
</head>
<body class="hold-transition skin-red sidebar-mini"
      ng-app="pinyougou"
      ng-controller="brandController"
      ng-init="findAll()">


<!-- .box-body -->
<div class="box-header with-border">
    <h3 class="box-title">用户管理</h3>
</div>

<div class="box-body" >
    <!-- 数据表格 -->
    <div class="table-box">
        <!--工具栏-->
        <div class="pull-left">
            <div class="form-group form-inline">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" title="新增"
                            data-toggle="modal" data-target="#addUser"
                            onclick="user={};">
                        <i class="fa fa-refresh"></i> 新增</button>
                    <button type="button" class="btn btn-default" title="删除"
                            ng-click="delete();">
                        <i class="fa fa-trash-o"></i> 删除</button>
                    <button type="button" class="btn btn-default" title="刷新"
                            onclick="window.location.reload();">
                        <i class="fa fa-refresh"></i> 刷新</button>
                </div>
            </div>
        </div>
        <div class="box-tools pull-right">
            <div class="has-feedback">
                <!--  查询条件区-->
                <table>
                    <tr>
                        <td><input class="form-control"
                                    placeholder="用户Id" ng-model="userId">
                        </td>
                        <td>
                            <button type="button" class="btn btn-default"
                                     ng-click="search();">
                                <i class="fa fa-trash-o"></i> 查询
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div><br/>
        <!--工具栏/-->
        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable" width="98%" align="center">
            <thead>
            <tr>
                <th class="" style="padding-right:0px">
                    <input id="selall" type="checkbox"
                           ng-click="checkAll($event)"
                           ng-checked="ckAll"
                           class="icheckbox_square-blue">
                </th>
                <th class="sorting_asc">用户Id</th>
                <th class="sorting">用户名字</th>
                <th class="sorting">用户性别</th>
                <th class="sorting">用户账户</th>
                <th class="sorting" >用户密码</th>
                <!--<th class="sorting">状态</th>-->
                <th class="sorting">创建时间</th>
                <th class="sorting">最近更新时间</th>
                <th class="sorting">详情</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entity in brandList">
                <td><input type="checkbox"
                           ng-checked="ck"
                           ng-click="updateSelection($event, entity.userId);"></td>

                <td>{{entity.userId}}</td>
                <td>{{entity.userName}}</td>
                <td>{{entity.userSex}}</td>
                <td>{{entity.userAccount}}</td>
                <td>{{entity.userPwd}}</td>
                <!--<td>{{entity.userStatus}}</td>-->
                <td>{{entity.createTime}}</td>
                <td>{{entity.updateTime}}</td>

                <!--<fmt:formatDate value="${user.loginTime}" pattern="yyyy-MM-dd HH:mm:ss"/>-->
                <!--<td>{{entity.roles[0].school}}</td>-->
                <!--<td>{{entity.roles[0].phrase}}</td>-->
                <!--<td>{{entity.roles[0].primaryGrade}}</td>-->
                <!--<td>{{entity.roles[0].primaryClass}}</td>-->

                <td class="text-center">
                    <button type="button" class="btn bg-olive btn-xs"
                            data-toggle="modal" data-target="#Details"
                            ng-click="show(entity);">详情信息</button>
                </td>
                <td class="text-center">
                    <button type="button" class="btn bg-olive btn-xs"
                            data-toggle="modal" data-target="#editModal"
                            ng-click="show(entity);">修改</button>
                </td>
            </tr>

            </tbody>
        </table>
        <!--数据列表/-->
        <!-- 分页指令 -->
        <tm-pagination conf="paginationConf"/>
    </div>
    <!-- 数据表格 /-->
</div>
<!-- /.box-body -->

<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog" >
        <div class="modal-content" style="width:1200px;margin-left:-254px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">用户编辑</h3>
            </div>
            <div class="modal-body" >
                <table class="table table-bordered table-striped"  width="800px">
                    <tr>
                        <td>Id</td>
                        <td ><input  class="form-control" ng-model="entity.userId"
                                    placeholder="Id" >  </td>
                        <td>名字</td>
                        <td><input  class="form-control" ng-model="entity.userName"
                                    placeholder="名字" >  </td>
                        <td>性别</td>
                        <td><input  class="form-control" ng-model="entity.userSex"
                                    placeholder="性别" >  </td>
                        <td>账号</td>
                        <td><input  class="form-control" ng-model="entity.userAccount"
                                    placeholder="账号" >  </td>
                        <td>密码</td>
                        <td><input  class="form-control" ng-model="entity.userPwd" type="password"
                                    placeholder="密码" >  </td>
                        <td>状态</td>
                        <td><input  class="form-control" ng-model="entity.userStatus"
                                    placeholder="状态" >  </td>
                    </tr>
                   <a >以上为基本信息</a>
                    <table class="table table-bordered table-striped"  width="800px" ng-repeat="school in entity.roles" >
                    <tr>
                        <td>次要年级</td>
                        <td><input  class="form-control" ng-model="school.secondaryGrades"
                                    placeholder="次要年级" >  </td>
                        <td>次要科目</td>
                        <td><input  class="form-control" ng-model="school.secondarySubjects"
                                    placeholder="次要科目" >  </td>
                        <td>次级班级<input  class="form-control" ng-model="school.secondaryClass"
                                    placeholder="次级班级" >  </td>
                        <!--<td>教师Id</td>-->
                        <!--<td><input  class="form-control" ng-model="school.roleId"-->
                                    <!--placeholder="教师Id" >  </td>-->
                        <!--<td>教师名字:</td>-->
                        <td><input  class="form-control" ng-model="school.roleName"
                                    placeholder="教师名字" >  </td>
                        <td>权限:</td>
                        <td><input  class="form-control" ng-model="school.privileges"
                                    placeholder="权限" >  </td>
                    </tr>

                    <tr>
                        <!--<td>学校Id</td>-->
                        <!--<td><input  class="form-control" ng-model="school.school.schoolId"-->
                                    <!--placeholder="学校Id" >  </td>-->
                        <td>学校名字</td>
                        <td><input  class="form-control" ng-model="school.school.schoolName"
                                    placeholder="学校名字" >  </td>
                        <td>学校地址</td>
                        <td><input  class="form-control" ng-model="school.school.address"
                                    placeholder="学校地址" >  </td>
                    </tr>
                        <!--<tr>-->
                        <!--<td>年段Id:</td>-->
                        <!--<td><input  class="form-control" ng-model="school.phrase.phraseId"-->
                                    <!--placeholder="年段Id" >  </td>-->
                        <td>年段名</td>
                        <td><input  class="form-control" ng-model="school.phrase.phraseName"
                                    placeholder="年段名" >  </td>
                    </tr>
                    <tr>
                        <!--<td>班级Id:</td>-->
                        <!--<td><input  class="form-control" ng-model="school.primaryClass.classId"-->
                                    <!--placeholder="班级Id" >  </td>-->
                        <td>班级名</td>
                        <td><input  class="form-control" ng-model="school.primaryClass.className"
                                    placeholder="班级名" >  </td>
                    </tr>
                    <tr>
                        <!--<td>小学年级</td>-->
                        <!--<td>年段Id</td>-->
                        <!--<td><input  class="form-control" ng-model="school.primaryGrade.gradeId"-->
                                    <!--placeholder="年段Id" >  </td>-->
                        <td>小学班级</td>
                        <td><input  class="form-control" ng-model="school.primaryGrade.classes"
                                    placeholder="小学班级" >  </td>
                        <td>年段名</td>
                        <td><input  class="form-control" ng-model="school.primaryGrade.gradeName"
                                    placeholder="年段名" >  </td>
                    </tr>
                    <tr>
                        <td>职教科目</td>
                        <!--<td>科目Id</td>-->
                        <!--<td><input  class="form-control" ng-model="school.primarySubject.subjectId"-->
                                    <!--placeholder="科目Id" >  </td>-->
                        <td>科目名字</td>
                        <td><input  class="form-control" ng-model="school.primarySubject.subjectName"
                                    placeholder="科目名字" >  </td>
                    </tr>

                    <!--<tr>-->
                        <!--<td>新建时间</td>-->
                        <!--<td><input  class="form-control" ng-model="entity.createTime"-->
                                    <!--placeholder="新建时间" >  </td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>最近修改时间</td>-->
                        <!--<td><input  class="form-control" ng-model="entity.updateTime"-->
                                    <!--placeholder="最近修改时间" >  </td>-->
                </table>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal"
                        aria-hidden="true" ng-click="saveOrUpdate();">保存</button>
                <button class="btn btn-default" data-dismiss="modal"
                        aria-hidden="true">关闭</button>
            </div>
            </div>
        </div>
    </div>
</div>
<!--增加用户-->
<div class="modal fade" id="addUser" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog" >
        <div class="modal-content" style="width:1200px;margin-left:-254px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id=>新增用户</h3>
            </div>
            <div class="modal-body" >
                <table class="table table-bordered table-striped"  width="800px">
                    <tr>
                        <td>Id</td>
                        <td ><input  class="form-control" ng-model="user.userId"
                                     placeholder="Id" >  </td>
                        <td>名字</td>
                        <td><input  class="form-control" ng-model="user.userName"
                                    placeholder="名字" >  </td>
                        <td>性别</td>
                        <td><input  class="form-control" ng-model="user.userSex"
                                    placeholder="性别" >  </td>
                        <td>账号</td>
                        <td><input  class="form-control" ng-model="user.userAccount"
                                    placeholder="账号" >  </td>
                        <td>密码</td>
                        <td><input  class="form-control" ng-model="user.userPwd" type="password"
                                    placeholder="密码" >  </td>
                        <td>状态</td>
                        <td><input  class="form-control" ng-model="user.userStatus"
                                    placeholder="状态" >  </td>
                        <td><input  class="form-control" ng-model="user.roles[0].secondaryGrades"
                                    placeholder="次要年级" >  </td>
                    </tr>
                    <a >以上为基本信息</a>
                    <table class="table table-bordered table-striped"  width="800px" ng-repeat="school in user.roles" >
                        <tr>
                            <td>次要年级</td>
                            <td><input  class="form-control" ng-model="school.secondaryGrades"
                                        placeholder="次要年级" >  </td>
                            <td>次要科目</td>
                            <td><input  class="form-control" ng-model="school.secondarySubjects"
                                        placeholder="次要科目" >  </td>
                            <td>次级班级<input  class="form-control" ng-model="school.secondaryClass"
                                            placeholder="次级班级" >  </td>
                            <!--<td>教师Id</td>-->
                            <!--<td><input  class="form-control" ng-model="school.roleId"-->
                            <!--placeholder="教师Id" >  </td>-->
                            <!--<td>教师名字:</td>-->
                            <td><input  class="form-control" ng-model="school.roleName"
                                        placeholder="教师名字" >  </td>
                            <td>权限:</td>
                            <td><input  class="form-control" ng-model="school.privileges"
                                        placeholder="权限" >  </td>
                        </tr>

                        <tr>
                            <!--<td>学校Id</td>-->
                            <!--<td><input  class="form-control" ng-model="school.school.schoolId"-->
                            <!--placeholder="学校Id" >  </td>-->
                            <td>学校名字</td>
                            <td><input  class="form-control" ng-model="school.school.schoolName"
                                        placeholder="学校名字" >  </td>
                            <td>学校地址</td>
                            <td><input  class="form-control" ng-model="school.school.address"
                                        placeholder="学校地址" >  </td>
                        </tr>
                        <!--<tr>-->
                        <!--<td>年段Id:</td>-->
                        <!--<td><input  class="form-control" ng-model="school.phrase.phraseId"-->
                        <!--placeholder="年段Id" >  </td>-->
                        <td>年段名</td>
                        <td><input  class="form-control" ng-model="school.phrase.phraseName"
                                    placeholder="年段名" >  </td>
                        </tr>
                        <tr>
                            <!--<td>班级Id:</td>-->
                            <!--<td><input  class="form-control" ng-model="school.primaryClass.classId"-->
                            <!--placeholder="班级Id" >  </td>-->
                            <td>班级名</td>
                            <td><input  class="form-control" ng-model="school.primaryClass.className"
                                        placeholder="班级名" >  </td>
                        </tr>
                        <tr>
                            <!--<td>小学年级</td>-->
                            <!--<td>年段Id</td>-->
                            <!--<td><input  class="form-control" ng-model="school.primaryGrade.gradeId"-->
                            <!--placeholder="年段Id" >  </td>-->
                            <td>小学班级</td>
                            <td><input  class="form-control" ng-model="school.primaryGrade.classes"
                                        placeholder="小学班级" >  </td>
                            <td>年段名</td>
                            <td><input  class="form-control" ng-model="school.primaryGrade.gradeName"
                                        placeholder="年段名" >  </td>
                        </tr>
                        <tr>
                            <td>职教科目</td>
                            <!--<td>科目Id</td>-->
                            <!--<td><input  class="form-control" ng-model="school.primarySubject.subjectId"-->
                            <!--placeholder="科目Id" >  </td>-->
                            <td>科目名字</td>
                            <td><input  class="form-control" ng-model="school.primarySubject.subjectName"
                                        placeholder="科目名字" >  </td>
                        </tr>

                        <!--<tr>-->
                        <!--<td>新建时间</td>-->
                        <!--<td><input  class="form-control" ng-model="entity.createTime"-->
                        <!--placeholder="新建时间" >  </td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                        <!--<td>最近修改时间</td>-->
                        <!--<td><input  class="form-control" ng-model="entity.updateTime"-->
                        <!--placeholder="最近修改时间" >  </td>-->
                    </table>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-dismiss="modal"
                        aria-hidden="true" ng-click="saveOrUpdate1();">保存</button>
                <button class="btn btn-default" data-dismiss="modal"
                        aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>
</div>
<!--详情窗口-->
<div class="modal fade" id="Details" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content" style="width:1200px;margin-left:-254px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="navbar-search-input">详细用户信息</h3>
            </div>
            <div class="modal-body" style="overflow-x:scroll">
                <table class="table table-bordered table-striped"  width="1200px" ng-repeat="school in entity.roles" >
                    <td>教师信息</td>
                    <tr>
                        <td> 次要年级</td>
                        <td >{{school.secondaryGrades}}</td>
                        <td>次要科目:</td>
                        <td >{{school.secondarySubjects}}</td>
                        <td>次要班级:</td>
                        <td >{{school.secondaryClass}}</td>
                        <td> 教师Id</td>
                        <td >{{school.roleId}}</td>
                        <td>教师名字:</td>
                        <td >{{school.roleName}}</td>
                        <td>权限:</td>
                        <td >{{school.privileges}}</td>
                    </tr>
                    <td>学校和班级信息</td>
                    <tr>
                        <td> 学校Id:</td>
                        <td >{{school.school.schoolId}}</td>
                        <td>学校名字:</td>
                        <td >{{school.school.schoolName}}</td>
                        <td>学校地址:</td>
                        <td >{{school.school.address}}</td>
                        <td>创建时间:</td>
                        <td >{{school.school.createTime}}</td>
                        <td>最近修改时间:</td>
                        <td >{{school.school.updateTime}}</td>
                    </tr>
                    <td>年段</td>
                    <tr>
                        <td> 年段Id:</td>
                        <td >{{school.phrase.phraseId}}</td>
                        <td>年段名</td>
                        <td>{{school.phrase.phraseName}}</td>

                    </tr>
                    <td>小学</td>
                    <tr>
                        <td> 班级Id:</td>
                        <td >{{school.primaryClass.classId}}</td>
                        <td>班级名</td>
                        <td>{{school.primaryClass.className}}</td>
                        <td> 创建时间:</td>
                        <td >{{school.primaryClass.createTime}}</td>
                        <td>最近修改时间</td>
                        <td>{{school.primaryClass.updateTime}}</td>
                    </tr>
                    <td>小学年级</td>
                    <tr>
                        <td> 班级Id:</td>
                        <td >{{school.primaryGrade.gradeId}}</td>
                        <td>班级</td>
                        <td>{{school.primaryGrade.classes}}</td>
                        <td>班级名</td>
                        <td>{{school.primaryGrade.gradeName}}</td>
                        <td> 创建时间:</td>
                        <td >{{school.primaryGrade.createTime}}</td>
                        <td>最近修改时间</td>
                        <td>{{school.primaryGrade.updateTime}}</td>
                    </tr>
                    <td>职教科目</td>
                    <tr>
                        <td> 科目Id:</td>
                        <td >{{school.primarySubject.subjectId}}</td>
                        <td>科目名字</td>
                        <td>{{school.primarySubject.subjectName}}</td>
                    </tr>
                </table>
            </div>
            <!--<div class="modal-footer">-->
            <!--<button class="btn btn-success" data-dismiss="modal"-->
            <!--aria-hidden="true" ng-click="saveOrUpdate();">保存</button>-->
            <!--<button class="btn btn-default" data-dismiss="modal"-->
            <!--aria-hidden="true">关闭</button>-->
            <!--</div>-->
        </div>
    </div>
</div>
</body>

</html>